body {
    margin: 0;
    margin-left: .15in;
    margin-right: .15in;
    margin-top: .18in;
    margin-bottom: .22in;
}

.top, .middle, .bottom {
    height: 3.53in;
    width: 8.2in;
    position: absolute;
    margin: 0;
    border-radius: 10px;
}

.top, .bottom {
    background-color: #373737;
}

.middle {
    margin-top: 3.53in;
}

.bottom {
    margin-top: 7.06in;
}

.top-card {
    height: 3.25in;
    margin-top: 0.5in;
    width: 7.84in;
    margin-left: 0.18in;
    position: absolute;
    border-radius: 10px;
}

.pic {
    margin-top: 0.25in;
    height: 1.64in;
    width: 1.64in;
    margin-left: 3.3in;
    position: absolute;
    border-radius: 50%;
    border: white 2px solid;
}

.hi {
    position: absolute;
    margin-top: 2in;
    width: 8.2in;
    text-align: center;
}

.my-name {
    position: absolute;
    margin-top: 2.4in;
    width: 8.2in;
    text-align: center;
}

.currently-at {
    position: absolute;
    margin-top: 2.8125in;
    width: 8.2in;
    text-align: center;
}

.more-info {
    position: absolute;
    margin-top: 3.125in;
    width: 8.2in;
    text-align: center;
}

.bio {
    position: absolute;
    margin-top: 4in;
    width: 7.84in;
    margin-left: 0.18in;
    text-align: center;
}

.cards {
    position: absolute;
    width: 2.95in;
    height: 0.78in;
    border: #373737 2px solid;
    border-radius: 10px;
    text-align: center;
}

.card-left {
    margin-left: 0.9in;
}

.card-right {
    margin-left: 4.25in;
}

.card-top {
    margin-top: 4.72in;
}

.card-bottom {
    margin-top: 5.85in;
}

a, h1, h2, h3 {
    text-decoration: none;
    color: white;
    font-family: 'Comfortaa', cursive;
    margin: 0.075in;
}

p {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 20px;
}

span {
    margin: 0.05in;
}